body,
body * {
  margin: 0;
  padding: 0;
  vertical-align: top;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background-color: #313F55;
}

.container{
    /*font-family: system-ui, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;*/
    color: #233B58;
    display: inline-block;
    width: 1300px;
    margin-left: calc((100% - 1300px) / 2);
    background-color: #F0F2F7;
    padding: 45px;
    margin-top: 50px;

}

/* -------LEFT COLUMN------- */
.left-col{
    background-color: chartreuse;
    display: inline-block;
    width: 22%;
}

nav{
    width: 266px;
    padding: 15px;
}

.nav{
    width: 100%;
    float: left;
    cursor: pointer;
    font-size: 10px;
    padding: 10px;
}
.nav > a > img{
    display: inline-block;
    float:left;
}
.nav > a > h2{
    display: inline-block;
    float:left;
}
.nav > a > p{
    display: inline-block;
    float:left;
}

.button-area{
    display: inline-block;
    width: 100%;
}

/* -------RIGHT COLUMN------- */
.right-col{
    float: right;
    width: 78%;
}

.queue{
    background-color: #f44336;
    display: inline-block;
    width: 100%;
    padding: 45px;
}

/* Right column bottom area */
.lists{
    float: left;
    width: 61%;
    padding: 45px;
}
.tenants > button, .organizations > button{
    border-style: none;
    background-color: transparent;
    font-size: 24px;
    font-weight: bold;
    color: #233B58;
    /*outline: none;*/
}

.tenants > button:focus{
   outline: none;
   outline-width: 1px;
    outline-style: dashed;
    outline-color: red;
}

.tenants{
    display: inline-block;
    position: relative;
    z-index: 2;
    visibility: visible;
}

.tenants > button{
    display: inline-block;
}

li > img{
    border-radius: 50%;
    height: 55px;
}
ul{
    display:inline-block;
    width: 485px;
    overflow-x: hidden;
    overflow-y: scroll; 
    position: absolute;
    margin-top: 20px;
}

ul::-webkit-scrollbar{
    width: 0px;
}

li{
    list-style-type: none;
    display: inline-block;
    margin-top: 10px;

}

.organizations{
    display: inline-block;
    width: 485px;
    color: red;
    z-index: 1;
    position: relative;
    top: -27px;
}

.organizations > button{
    display: inline-block;
    position: relative;
    left: 110px;
    
}

#tenantslist{
    display: grid;
    visibility: visible;
}
#organizationslist{
    display: grid;
    visibility:hidden;
    float: left;

}

.alerts{
    background-color: white;
    float: left;
    width: calc(39% - 30px);
    padding: 30px;
    margin: 30px 0 30px 30px;
    border-radius: 30px;
}
.alerts > h2{
    float: left;
    font-size: 24px;
}
.alerts > img{
    float: left;
    margin: 30px 10px;
    width: 100%;
    
}

.alerts > span{
    background-color: #FF8568;
    padding: 4px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 10px;
    color: white;
    position: relative;
    top: -3px;
    left: 7px;
}

.alerts > a{
    float:left;
    text-decoration: none;
    color: white;
    background-color: #474DDC;
    padding: 12px 15px 12px 20px;
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 30px;
    margin-top: 15px;
}

.alerts > a > span{
    margin-left: 25px;
    font-weight: bold;
}

.alerts > p{
    font-size: 11px;
    float: right;
    width: 60px;
    margin: 20px 10px 0 0;
}


/*------------------*/
.nav > a:link, .nav > a:visited {
    color: white;
    text-decoration: none;
    display: inline-block;
  }
  
  .nav > a:hover, .nav > a:active {
    background-color: red;
  }
/* changing img on hover
  fb-icon{
    background:url('path/to/image/image.png') no-repeat 0 0;
}

fb-icon:hover{
    background:url('path/to/image/image.png') no-repeat 0 -100px;
}*/
/* overlay one emelent with other
.container {
    display: grid;
  }
  
  .content, .overlay {
    grid-area: 1 / 1;
  }*/

  
  