body,
body * {
  margin: 0;
  padding: 0;
  vertical-align: top;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background-color: #313F55;
}

.container{
    /*font-family: system-ui, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;*/
    color: #233B58;
    display: inline-block;
    width: 1300px;
    margin-left: calc((100% - 1300px) / 2);
    background-color: #F0F2F7;
    padding: 45px;
    margin-top: 50px;
    border-radius: 47px;
    }

/* -------LEFT COLUMN------- */
.left-col{
    display: inline-block;
    width: 22%;
    border-right: solid 1px #d0d6e4;
}

.left-col > img{
    margin-bottom: 50px;
    width: 100px;
}

.user-icon > img{
    float: left;
    margin-right: 30px;
}
.user-icon > h2{
    font-size: 23px;
    padding-top: 20px;
}
.user-icon{
    margin-bottom: 110px;
}

nav{
    width: 266px;
    padding: 15px;
}

.nav{
    width: 100%;
    float: left;
    cursor: pointer;
    font-size: 12px;
    padding: 10px;
    
}
.nav > a > img{
    width: 56px;
    float:left;
}
.nav > a > h2, .nav > a > p{
    width: calc(100% - 56px);
    float:left;
    color:#233B58;
    padding: 7px 0px 0px 35px;
    
}
.nav > a > p{
    padding: 0px 0px 0px 35px;
    font-size: 17px;
    font-weight: lighter;
    color:#7e828a;
}

.button-area{
    display: inline-block;
    width: 100%;
    margin-top: 120px;
}

.button-area > .girl{
    float: left;
    width: 97px;
    margin-left: 4px;
}
.button-area > div{
    margin-top: 10px;
    background-color: #474DDC;
    border-radius: 20px;
    margin-right: 30px;
}
.button-area > div > a, .button-area > div > p{
    display: inline-block;
    margin: 25px 0 7px 15px;
    width: calc(100% - 97px - 24px);
    text-decoration: none;
    font-weight: bold;
    color: white;
}
.button-area > div > a >p{
   font-weight: normal;
   margin: 5px 0 15px 0px;
}
.button-area > div > a> p > img{
    margin-right:12px;
    margin-top: 2px
}




/* -------RIGHT COLUMN------- */
.right-col{
    float: right;
    width: calc(78% - 40px);
    margin-left: 40px;
}
.queue{
    background-color: white;
    border-radius: 30px;
    display: inline-block;
    width: 100%;
    padding: 45px;
    margin-bottom: 20px;
    position: relative;
}

.payments-info{
    float:left;
    width: 44%;
    padding-right: 70px;
}

.payments-info > h2{
    text-transform: uppercase;
    font-size: 15px;
    font-weight: normal;
    color:#7e828a;
    margin-top: 5px;
    padding-bottom: 15px;
}


.payments-info > div > p{
    display: inline-block;
    font-family: system-ui;
    font-weight: bold;
    font-size: 45px;
    line-height: 45px;
    margin-top: -4px;
    margin-bottom: 50px;
}
.payments-info > div > span{
    font-size: 25px;
    padding-right: 4px;
}

.utilities > label, .rent > label{
    font-size: 15px;
    padding-top: 15px;
}

.utilities > label > span, .rent > label > span {
    font-weight: bold;
    position: absolute;
    right: 25px;
}

.utilities {
    float:left;
    width: 50%;
    margin-top: 10px;
    color:#7e828a;
    position: relative;
}
.rent {
    float:right;
    width: 50%;
    margin-top: 10px;
    color:#7e828a;
    position: relative;
}

/* PROGRESS 
------------------------------------------------------------------------------------------*/
progress{
    width: 120px;
}


.pay-button{
    display: inline-block;
    position: absolute;
    width: 100%;
    bottom: 45px;
    left: 45px;
}
.pay-button > a{
    font-size: 13px;
    background-color: #474DDC;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    padding: 18px 20px;
    border-radius: 27px;
    margin-right: 20px;
    
} 
.pay-button > a > span{
    padding-left: 55px;
}
.pay-button > button{
    margin-top: -14px;
    display: inline-block;
    border:none;
    background-color:#F0F2F7;
    border-radius: 50%;
    padding: 18px 18px 9px 16px;
}
.pay-button > button > img{
    width: 10px;
    height: 10px;
}

.cards{
    float:right;
    width: 56%;
    overflow-x: hidden;
    white-space: nowrap;
}



.first-card , .second-card , .third-card{
    display: inline-block;
    width: 180px;
    padding: 25px;
    margin-right: 20px;
    border-radius: 17px;
}
.cards > div > img{
    width: 55px;
    margin-bottom: 20px;
}

.c-name{
    color:white;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 40px;
}
.a-symbol{
    display: inline-block;
    font-weight: bold;
    font-size: 17px;
}
.pay-amount{
    display:inline-block;
    font-size: 35px;
    font-weight: bold;
}
.comission{
    font-size: 13px;
    margin-bottom: 5px;
}

.first-card{
    background-image: linear-gradient(#7EB2ED, #FCD5EE);
}
.second-card{
    background-image: linear-gradient(#FFA497, #FFDC9B);
}
.third-card{
    margin-right: 0;
    background-image: linear-gradient(#99DCBE, #FDF3B3);
}


/* ------Right column bottom area -------*/
.r-col-bottom{
    padding: 30px;
    position: relative;
}
.lists{
    float: left;
    width: 61%;
    margin-top: 20px;
    position: absolute;
}
.lists > button{
    display: inline-block;
    border-style: none;
    background-color: transparent;
    font-size: 24px;
    font-weight: normal;
    color: #233B58;
    outline: none;
    margin-bottom: 5px;
    margin-right: 30px;
    width: 70px;
}

.lists > button:focus, .lists > button:active{
   border-bottom: solid 5px blue;
    margin-bottom: 0px;
    font-weight: bold;
}


.tenants, .organizations{
    display: inline-block;
    z-index: 1;
    position: absolute;
    top: 20px;
    left: 0px;
}

li > img{
    border-radius: 50%;
    height: 45px;
    margin-right: 5px;
    padding-left: 5px;
}
ul{
    display:inline-block;
    width: 527px;
    overflow-x: hidden;
    overflow-y: scroll; 
    margin-top: 20px;
}

ul::-webkit-scrollbar{
    width: 0px;
}

li{
    width: 527px;
    list-style-type: none;
    display: inline-block;
    padding: 5px 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

li:hover{
    background-color: white;
    border-radius: 30px;
  }

li:first-of-type{
    margin-top: 0;
}
li:last-of-type{
    margin-bottom: 0;
}

li > span{
    display: inline-block;
    font-size: 17px;
    margin-top: 13px;
}
.name{
        width: 30%;
}
.amount{
        width: 20%;
}
.months{
        width: 20%;
}

/* DROP DOWN BUTTON --------------------------------------------*/
.dropbtn {
    background-color: #474DDC;
    color: white;
    padding: 7px 14px 8px 5px;
    border-radius: 21px;
    font-size: 20px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    margin-top: 4px;
  }
  
  .dropdown {
    margin-left: 30px;
    display: inline-block;
    width: 30px;
    
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #CDC8EE;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin: 0 -25%;
    border-radius: 19px;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #474DDC;
  }
  /*----------------------------------------------------------------------*/

/*.organizations{
    display: inline-block;
    width: 485px;
    z-index: 0;
    position: absolute;
    top: 70px;
    left: 0px;
}*/


#tenantslist{
    visibility: visible;
    
}
#organizationslist{
    visibility:hidden;
    
}

.alerts{
    position: absolute;
    right: 0px;
    background-color: white;
    float: right;
    width: calc(39% - 30px);
    padding: 30px;
    border-radius: 30px;
}
.alerts > h2{
    float: left;
    font-size: 24px;
}
.alerts > img{
    float: left;
    margin: 30px 10px;
    width: 100%;
    
}

.alerts > span{
    background-color: #FF8568;
    padding: 4px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 10px;
    color: white;
}

.alerts > a{
    float:left;
    text-decoration: none;
    color: white;
    background-color: #474DDC;
    padding: 12px 15px 12px 20px;
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 30px;
    margin-top: 15px;
}

.alerts > a > span{
    margin-left: 25px;
    font-weight: bold;
}

.alerts > p{
    font-size: 11px;
    float: right;
    width: 60px;
    margin: 20px 10px 0 0;
}


/*------------------*/
.nav > a:link, .nav > a:visited {
    text-decoration: none;
    display: inline-block;
  }
  
  .nav > a:hover, .nav > a:active {
    background-color: white;
    border-radius: 15px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }
/* changing img on hover
  fb-icon{
    background:url('path/to/image/image.png') no-repeat 0 0;
}

fb-icon:hover{
    background:url('path/to/image/image.png') no-repeat 0 -100px;
}*/
/* overlay one emelent with other
.container {
    display: grid;
  }
  
  .content, .overlay {
    grid-area: 1 / 1;
  }*/

  
  